body {
  padding-top: 50px;
}
.navbar-brand {
  color: #fed136;
  padding: 15px 10px;
}
.navbar-brand p, .navbar-brand span {
  color: #fed136;
}
.navbar-brand p {
  display: inline;
  margin-left: 5px;
}
